html {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

body {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}


.container {
  position: relative;
  margin: 0 auto;
  width: 90%;
  height: 100%;
}

.title {
  font-family: 'Leckerli One', cursive;
  font-size: 3rem;
}

/*---------------------------------------------------HEADER-----------------------------------------------------*/
.header-wrap {
  position: relative;
}
.header-background {
  position: absolute;
  background-image: url(../images/header-background.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: repeat;
  filter: brightness(30%);
  background-position: center;
}

.header-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-nav {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
}

.header-nav-brand {
  width: 20%;
}
.header-nav-brand > a{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.6rem;
  color: #FFFFFF;
}
.header-nav-list {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0px;
}

.header-nav-list-link {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.8rem;
  color: #FFFFFF;
}

.header-nav-list-link:hover {
  color: #8799A3;
}


.dropdown-tgl {
  display: none;
  height: 6rem;
  width: 6rem;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 25%;
  padding: 0;
}

.dropdown-tgl:focus {
  outline: none;
}

.fa-bars {
  display: none;
  font-size: 4rem;
  color: #FFFFFF
}

.header-nav-btn {
  display: block;
  width: 16%;
  height: 50%;
  border: 1px solid #FFFFFF;
  border-radius: 25px;
  background-color: transparent;
}

.header-nav-btn-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 1.4rem;
  color: #FFFFFF;
}

.header-nav-btn:hover {
  border: 1px solid yellow;
  box-shadow: 2px 2px 15px 2px yellow;
}

.header-nav-btn-link:hover {
  color: #FFFF00;
}


.intro-wrap {
  width: 60%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.intro-wrap h1,
.intro-wrap h2,
.intro-wrap h3,
.intro-wrap p {
  margin: 0;
}

.intro-title {
  color: #FFFFFF;
}

.intro-slogan {
  font-family: 'Montserrat', sans-serif;
  font-size: 6rem;
  color: #FFFFFF;
}

.intro-slogan > span {
  color: #0081FF;
}

.intro-desc {
  font-size: 4rem;
  color: #FFFFFF;
  font-family: 'myriad-pro', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.intro-desc-txt {
  font-family: 'Cambay', sans-serif;
  font-size: 2.3rem;
  color: #636363;
}

.intro-more-link {
  color: #FFFFFF;
  font-family: 'Leckerli One', cursive;
  display: none;
}


.intro-btn {
  background-color: #2B2B2B;
  border: 1px solid #2B2B2B;
  border-radius: 3rem;
  height: 8%;
  width: 16%;
  margin-bottom: 3%;

}

.intro-btn-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  color: #FFFFFF;
  font-size: 1.4rem;
}
/*-------------------------------------------------ABOUT SECTION-----------------------------------------------*/
.about-wrapper {
  height: 100vh;
  background-color: #0081FF;
}
.about-desc-wrap {
  height: 40%;
}

.about-title {
  color: #FFFFFF;
  align-items: center; 
  margin-top: 0;
  margin-bottom: 0;
}
.about-container {
  height: 100%;
}

.about-desc {
  display: flex;
  height: 90%;
  width: 100%;
  justify-content: space-between;
}

.about-desc-item {
  display: inline-block;
  width: 45%;
  height: 75%;
  text-align: justify;
  margin: 0;
  padding: 1rem 0;
}

.about-desc-item:first-of-type {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.6rem;
  color: #FFFFFF;
}

.about-desc-item:last-of-type {
  font-family: 'Cambay', sans-serif;
  font-size: 1.3rem;
  color: #FFFFFF;
}

.about-services-wrapper {
  background-color: #007AF2;
  height: 40%;
}

.services-container {
  height: 100%;
}
.about-services-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

}

.about-services-item {
  width: 33%;
  display: flex;
}

.about-services-desc {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
}

.about-services-title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  color: #FFFFFF;
}

.about-services-paragraph {
  font-family: 'Cambay', sans-serif;
  font-size: 1.5rem;
  color: #FFFFFF;
}

.about-social-wrap {
  height: 20%;
}

.social-container{
  height: 100%;
}

.about-social-desc {
  display: flex;
  align-items: center;
  height: 100%;
}
.about-social-desc-txt {
  display: inline-block;
  font-family: 'Cambay', sans-serif;
  font-size: 2rem;
  color: #FFFFFF;
  width: 30%;
}

.about-social-list {
  display: flex;
  justify-content: space-around;
  width: 70%;
  padding: 0;
}

/*---------------------------------------------------PORTFOLIO--------------------------------------------------*/
.portfolio-wrapper {
  height: 100vh;
}

.portfolio-desc-wrap {
  height: 100%;
  align-items: center;
}
.portfolio-title {
  margin: 0;
  display: inline-block;
  height: 5%;
}
.portfolio-desc {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.portfolio-desc-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 4.2rem;
  margin: 0;
}
.portfolio-desc-btn {
    width: 15%;
    height: 80%;
    background-color: #1CBBB4;
    border: 1px solid #1CBBB4;
    border-radius: 30px;
    align-self: flex-start;
}

.fa-eye {
  display: none;
}

.portfolio-desc-btn:hover {
  box-shadow: 2px 2px 10px 2px #1CBBB4;
}

.portfolio-btn-link, .portfolio-btn-link--hidden {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  font-size: 1.4rem;
}

.portfolio-container{
  height: 100%;
}

.portfolio-grid {
  height: 80%;
  width: 100%;
  max-width: 120rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 
      'img-1 img-1 img-2 img-3'
      'img-4 img-5 img-2 img-6'
  ;
}

.portfolio-grid a {
  width: 100%;
  height: 100%;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-1 {
  grid-area: img-1;
  background-image: url(../images/img-1.png);
}

.img-2 {
  grid-area: img-2;
  min-height: 100%;
  background-image: url(../images/img-2.png);
}

.img-3 {
  grid-area: img-3;
  background-image: url(../images/img-3.png);
}

.img-4 {
  grid-area: img-4;
  background-image: url(../images/img-4.png);
}

.img-5 {
  grid-area: img-5;
  background-image: url(../images/img-5.png);
}

.img-6 {
  grid-area: img-6;
  background-image: url(../images/img-6.png);
}



/*-------------------------------------------------CLIENTS------------------------------------------------------*/
.clients-wrapper {
  position: relative;
  height: 100vh;
}

.clients-background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(../images/clients-background.png);
  background-size: cover;
  filter: brightness(30%);
  background-position: center;
  background-repeat: no-repeat;
}
.clients-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.clients-title {
  color: #FFFFFF;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.clients-desc {
  font-family: 'Montserrat', sans-serif;
  font-size: 4.2rem;
  color: #FFFFFF;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.clients-testimonials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimony-container {
  width: 75%;
}
.testimony-person {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimony-txt {
  font-family: 'Coustard', serif;
  font-size: 2.4rem;
  color: #FFFFFF;
  text-align: center;
}

.testimony-person-photo {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  margin-right: 3%;
}
.testimony-person-info-item {
  margin-top: 0px;
  margin-bottom: 0px;
}
.testimony-person-info-item:first-of-type {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  color: #FFFF00;
}

.testimony-person-info-item:nth-of-type(2) {
  font-family: 'Cambay', sans-serif;
  font-size: 1.6rem;
  color: #FFFFFF;
}

.clients-logo-line {
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.clients-section-logo-img {
  display: block;
  height: 80%;
  width: 80%;
}
/*--------------------------------------------------BLOG---------------------------------------------------------*/

.blog-wrapper {
  height: 100vh;
}

.blog-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.blog-title {
  color: #8799A3;
  height: 10%;
  margin-top: 0;
  margin-bottom: 0;
}

.blog-grid {
  position: relative;
  display: grid;
  height: 100%;
  max-width: 120rem;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  margin-bottom: 2%;
  gap: 1rem;
  grid-template-areas:
    'blog-img-1 blog-img-1 blog-img-2 blog-img-2'
    'blog-img-3 blog-img-3 blog-img-2 blog-img-2'
    'blog-img-4 blog-img-5 blog-img-6 blog-img-7'
    ;
}

.blog-grid a {
  width: 100%;
  display: flex;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  .blog-img-1 {
    grid-area: blog-img-1;
    background-color: #636363;
  }

  .blog-img-2 {
    grid-area: blog-img-2;
    background-image: url(../images/blog-img-2.png);

  }

  .blog-img-3 {
    grid-area: blog-img-3;
    background-color: #007EFA;
  }

  .blog-img-4 {
    grid-area: blog-img-4;
    background-image: url(../images/blog-img-4.png);
  }

  .blog-img-5 {
    grid-area: blog-img-5;
    background-image: url(../images/blog-img-5.png);
  }

  .blog-img-6 {
    grid-area: blog-img-6;
    background-color: rgb(126, 233, 167);
  }

  .blog-img-7 {
    grid-area: blog-img-7;
    background-color: #E91D62;
  } 


  .blog-item-desc {
    position: absolute;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    left: 5%;
    top: 5%;
  }


.blog-item-desc h3,
.blog-item-desc h4,
.blog-item-desc p {
  margin-top: 0;
  margin-bottom: 0;
}

.blog-item-date {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
}
.blog-item-two-date, .blog-item-four-date {
  color: #BBC7CD;
}

.blog-item-three-date, .blog-item-five-date, .blog-item-six-date {
  color: #FFFFFF;
}

.blog-item-title {
  font-family: 'Montserrat', sans-serif;
}

.blog-item-one-title, .blog-item-four-title, .blog-item-six-title {
  color: #252525;
}

.blog-item-txt {
  font-family: 'Cambay', sans-serif;
}


.blog-item-one-title {
  font-size: 3rem;
}

.blog-item-one-txt {
  font-size: 2rem;
  color: #FFFFFF;
}


.blog-item-two-title {
  font-size: 3rem;
  color: #FFFFFF;
}

.blog-item-two-date {
  font-size: 2rem;
}

.blog-item-two-txt {
  color: #FFFFFF;
  font-size: 1.8rem;
}

.blog-item-two-btn {
  display: block;
  width: 161px;
  height: 51px;
  background-color:#FEFB30;
  border: 1px solid #FEFB30;
  border-radius: 40px;
}

.blog-item-two-btn p {
  font-weight: bold;
  font-size: 1.4rem;

}

  .blog-btn-link {
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  color: #252525;
}


.blog-item-three-desc {
  left: 5%;
  top: 5%;
  text-align: center;
}

.blog-item-three-title {
  font-family: 'Coustard', serif;
  color: #FFFFFF;
}


.blog-item-three-txt {
  color: #FFFF00;
  font-size: 1.8rem;
  font-weight: bold;
}


.blog-item-four-desc {
  left: 5%;
  top: 10%;
  justify-content: flex-start;
}

.blog-item-three-title, .blog-item-four-title, .blog-item-five-title, .blog-item-six-title {
  font-size: 2.2rem;
}

.blog-item-five-desc {
  left: 5%;
  top: 5%;
}

.blog-item-five-title {
  color: #FFFFFF;
}

.blog-item-six-desc {
  left: 5%;
  top: 5%;

}
.blog-item-six-desc > h3, h4, p {
  margin-top: 0;
  margin-bottom: 0;
}

.blog-item-six-txt {
  color: #636363;
  font-size: 1.2rem;
}


.blog-item-seven-desc {
  text-align: center;
}

.blog-item-seven-title {
  color: #FFFFFF;
  font-size: 1.4rem;
}
/*----------------------------------FOOTER--------------------------------------------*/
.footer {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-background {
  background-image: url(../images/contacts.png);
  filter: brightness(30%);
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-section-desc {
  height: 100%;
}

.contact-container {
  display: flex;
  flex-direction: column;
}

.contact-title {
  color: #FFFFFF;
  margin: 0;
  padding-top: 2%;
}

.contact-wrap {
  display: flex;
  height: 80vh;
  justify-content: space-between;
  align-items: center;
}

.contact-wrap-title {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.8rem;
  color: #FFFFFF;
}
.contact-info, .getin-touch-wrap{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  width: 40%;
}

.getin-touch-wrap {
  margin-left: 5%;
}

.contact-wrap p,
.contact-wrap a,
.contact-wrap span
 {
  font-family: 'Cambay', sans-serif;
  font-size: 2rem;
}

.contact-wrap p {
  color: #636363;
}

.contact-wrap span{
  color: #FFFFFF;
}

.contact-wrap a {
  color: #007EFA;
}


.contact-info-social-list {
  width: 30%;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.form {
  display: flex;
  justify-content: flex-start;
  height: 65%;
  width: 90%;
}
.form-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-col {
  display: flex;
  justify-content: space-between;
  height: 15%;
}

.form-col input {
  font-size: 1.3rem;
  padding-left: 1rem;
}

.form-col-item:focus, .form-textarea:focus {
  outline: none;
}

.form-col-item {
  width: 45%;
  border: 2px solid #636363;
  border-radius: 15px;
  background-color: #2B2B2B;
}

.form-col-item:hover {
  background-color: #252525;
  border: 2px solid #8799A3;
  color: #FFFFFF;
}

.form-textarea {
  border: 2px solid #636363;
  border-radius: 15px;
  height: 50%;
  background-color: #2B2B2B;
  color: #636363;
  font-family: 'Cambay', sans-serif;
  font-size: 1.5rem;
  padding: 1rem;
}


.form-btn {
  width: 25%;
  height: 15%;
  background-color: #007EFA;
  border: 1px solid #007EFA;
  border-radius: 40px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
}
.form-btn:hover {
  box-shadow: 2px 2px 15px 2px #007EFA;
}


